{% extends 'base.html.twig' %}

{% block title %}{{ course.CourseName }}{% endblock %}

{% block body %}
    {{ include('hat.html.twig') }}
    <div class="container-fluid">
    <h1>{{ course.CourseName }}</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Обновить'}) }}

        <div class="line">-----------------------------------------</div>

    {{ include('course/_delete_form.html.twig') }}
    </div>
{% endblock %}
